<form>
    <div class="form-row">
        <div class="col col-sm-10 form-group">
            <input class="form-control" type="text" id="name" placeholder="New todo item" #name>
        </div>
        <div class="col col-sm-2 form-group">
            <input class="btn btn-todo-primary" type="submit" id="saveBtn" text="Save" (click)="addItem(name.value)" />
        </div>
    </div>
</form>
<hr />
<h4>List</h4>
<app-todo-item *ngFor="let ti of todoList" [todoItem]="ti"></app-todo-item>